.webPartHeader {
    display: flex;
    align-items: baseline;
    user-select: none;

    .webPartTitle {
        font-weight: 100;
        margin-bottom: 11px;
        color: #333333;
        flex-grow: 1;
        overflow-x: hidden;
        text-overflow: ellipsis;
        .link {
            cursor: pointer;
        }
    }

    @media (min-width: 320px) {
        .webPartTitle {
            font-size: 21px;
        }
    }

    @media (min-width: 480px) {
        .webPartTitle {
            font-size: 24px;
        }
    }

    @media (min-width: 720px) {
        .webPartTitle {
            font-size: 28px;
        }
    }
}
